extends layout

block title
  | Home

block mainMenu
  mixin mainMenu("index.html")

block content
  .col-md-6
    h1 xemmai
    p A dynamic programming language
    p.
      xemmai is a dynamic programming language.
      It has lambda closures, classes, exceptions, modules, threads, and fibers.
    p.
      It is implemented in C++ and has C++ friendly API to implement extension modules.
      It aims to be a general purpose glue language.
    p.
      It runs on linux, windows, and hopefully other unix systems.
    p.
      Internally, codes are executed on a bytecode interpreter.
      It also has a concurrent garbage collector to utilize multiple processors.
    p: a.btn.btn-primary(href="http://github.com/shin1m/xemmai") View project on GitHub &raquo;
  .col-md-6
    h1 creole.js
    p Creole parser for javascript.
    p
      | creole.js is a 
      a(href="http://wikicreole.org/wiki/Creole1.0") Creole 1.0
      |  parser for javascript.
    p It can run on both client side and server side.
    p: a.btn.btn-primary(href="http://github.com/shin1m/creole.js") View project on GitHub &raquo;
    p: a.btn.btn-primary(href="creole.js/demo.html") See Live Demo &raquo;
    p: a.btn.btn-primary(href="creole.js/demo-macro.html") See Live Demo with Macro &raquo;
