extends ../layout

block title
  | creole.js Live Demo with Macro

block content
  .col-md-5
    .row
      textarea#source.form-control.col-md-12(rows='24').
        = creole.js Live Demo with Macro
        
        <<SayHello To='World'>>
        
        <<FlickrPhotos Tags='mount rainier' Limit='2'>>
        
        <<GoogleMap Address='mount rainier'>>
        
        ----
        Edit the source on the left side.
  .col-md-7
    #preview

append scripts
  script(src='creole.js')
  script(src='html.js')
  script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script.
    var builder = new html.Builder();
    builder.macros.SayHello = function(builder, parameters) {
      if (parameters.To === undefined)
        builder.e('<<SayHello To=\'...\'>>');
      else
        builder.e('Hello, ' + parameters.To + '!');
    };
    builder.macros.FlickrPhotos = function(builder, parameters) {
      if (parameters.Tags === undefined) {
        builder.u('<div>');
        builder.e('<<FlickrPhotos Tags=\'...\' [Limit=\'...\']>>');
        builder.u('</div>');
      } else {
        builder.u('<div data-flickr-tags="');
        builder.e(parameters.Tags);
        if (parameters.Limit !== undefined) {
          builder.u('" data-flickr-limit="');
          builder.e(parameters.Limit);
        }
        builder.u('"></div>');
      }
    };
    builder.macros.GoogleMap = function(builder, parameters) {
      if (parameters.Address === undefined) {
        builder.u('<div>');
        builder.e('<<GoogleMap Address=\'...\'>>');
        builder.u('</div>');
      } else {
        builder.u('<div style="width: 100%; height: 30em;" data-google-map-address="');
        builder.e(parameters.Address);
        builder.u('"></div>');
      }
    };
    var preview = function() {
      builder.reset();
      creole.parse(builder, $('#source').val());
      $('#preview').html(builder.result.join(''));
      $('#preview div[data-flickr-tags]').each(function() {
        var self = $(this);
        $.getJSON('https://api.flickr.com/services/feeds/photos_public.gne?jsoncallback=?', {
          tags: self.attr('data-flickr-tags'),
          tagmode: 'any',
          format: 'json'
        }, function(data) {
          var limit = self.attr('data-flickr-limit');
          if (limit !== undefined) limit = parseInt(limit) - 1;
          $.each(data.items, function(i, item) {
            $('<a></a>').attr('href', item.link).append($('<img/>').attr('src', item.media.m).attr('title', item.title)).appendTo(self);
            if (limit !== undefined && i === limit) return false;
          });
        });
      });
      $('#preview div[data-google-map-address]').each(function() {
        var element = this;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
          address: $(this).attr('data-google-map-address'),
        }, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            new google.maps.Map(element, {
              center: results[0].geometry.location,
              zoom: 8,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });
          } else {
            alert('Geocode failed: ' + status);
          }
        });
      });
    };
    $('#source').data('preview', null).on('input', function() {
      clearTimeout($(this).data('preview'));
      $(this).data('preview', setTimeout(preview, 500));
    });
    preview();
